:host {
    @import "../common";

    @include useBlock();

    height: 27px;

    .dropdown-item {
        width: 100%;
        background: white;
        height: 27px;

        &.is--dark {
            background: #41403e;
        }

        &:hover {
            cursor: pointer;

            .border {
                cursor: pointer;
            }
        }

        .border {
            height: 27px;
            padding-left: 10px;
            box-sizing: border-box;
            border-top: none;
        }
    }

    .dropdown {
        position: relative;
        height: 27px;

        &.is--dark {
            color : white;
            .dropdown__header, .dropdown__children {
                background: #41403e;
            }
        }

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            position: relative;
            z-index: 20;
        }

        &__children {
            position: absolute;
            z-index: 10;
            top: 31px;
            left: 0;
            width: 100%;
            max-height: 200px;
            display: grid;
            grid-auto-rows: 27px;
            max-height: calc(27px * 5);
            overflow-y: auto;
            background: white;
        }

        .for--icon {
            position: relative;
            top: 2px;
            transition: all 0.3s linear;
            transform: rotate(0deg);
        }

        &:not(.is--open) {
            .dropdown__children {
                display: none;
            }
        }

        &.is--open {
            .dropdown__children {
                display: grid;
            }

            .for--icon {
                transform: rotate(180deg);
                top: -3px;
            }
        }
    }

    .dropdown {
        &:not(.is--block) {
            display: inline-block;
            min-width: 200px;
        }

        &.is--block {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }

}