:host {
    @import "../../common";

    @include useBlock();

    label {
        color : var(--primary);
    }

    .with--icon input {
        padding-left : 50px;
    }

    .for--input {
        position: relative;
        width : max-content;

        p-icon {
            position : absolute;
            left : 10px;
            top : 5px;
        }
    }

    input + p {
        margin-top: 0;
    }

    .is--block {
        display: block;
        width: 100%;
        box-sizing: border-box;

        .for--input {
            width: 100% !important;
        }

        input {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .papier {
        &.has--error {
            p {
                margin-top: 0;
            }
        }

        &.is--dark {
            &.has--error {
                label {
                    color : var(--danger-light);
                }
                input {
                    border-color : var(--danger-light);
                }
            }
        }
        &:not(.is--dark) {
            &.has--error {
                label {
                    color : var(--danger-text);
                }
                input {
                    border-color : var(--danger-text);
                }
            }
        }
    }
}
