@import "./mixins.scss";

.papier {
    @import "papercss/dist/paper";

    font-family: "Neucha", sans-serif;
    font-size: 20px;
}

.papier.is--dark {
    @include darkVariables();
}

.papier:not(.is--dark) {
    @include lightVariables();
}

@mixin useBlock() {
    .papier.is--block {
        display: block;
    }

    .papier:not(.is--block) {
        display: inline-block;
    }
}
