@keyframes spin {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    45% {
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        transform: scale(1);
        opacity: 1;
    }
}

:host {
    @import "../common";

    .p-spinner {
        display: inline-block;
        line-height: 1px;

        &.is--large {
            div {
                width: 20px;
                height: 20px;
            }
        }

        div {
            display: inline-block;
            width: 10px;
            height: 10px;
            animation: spin 1s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);

            &:first-of-type {
                animation: spin 1s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
                margin-right: 8px;
            }

            &:last-of-type {
                animation: spin 1s 0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
                margin-left: 8px;
            }
        }
    }
}
